/* flex direction */

.container{
    height: 500px;
    color: white;
    padding: 10px;
    background-color: gray;

    /* grid é linhas/colunas */
    display: grid;

    /* propriedades do grid template */
    /* grid-template-rows: auto auto;
    grid-template-columns: 10% 100px auto; */
    /* grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr; */

    /* outra forma de escrever  grid-template-rows: linha/ colunas */
    grid-template: auto auto / auto auto auto;

    grid-row-gap: 10px;
    grid-column-gap: 10px;
    /* ou */
    /* grid-gap: 10px; */

    /* alinhamento do elemento dentro do grid */
    /* horizontal */
    justify-items: center;
    /* vertical */
    align-items: center;

    /* alinhamento da grid dentro do container */
    /* horizontal */
    justify-content: flex-end;
    /* vertical */
    align-content: flex-end;
}

.r1{
    background-color: red;
}
.r2{
    background-color: blue;
}
.r3{
    background-color: green;;
}

.rect{
    /* width: 100px; */
    height: 100px;
}


.container-2{
    color: white;
    padding: 10px;
    background-color: gray;

    display: grid;

    /* grid-template-areas: "a2 a2 a2 a2 a2 a2"
                         "a1 a1 a3 a3 a3 a3"
                         "a4 a4 a4 a5 a5 a5"
                         "a6 a6 a6 a6 a6 a6" */

    grid-template: auto auto auto auto / auto auto auto auto auto auto ;
}

.item1{
    /* grid-area: a1; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-column-end: 4;
}
.item2{
    /* grid-area: a2; */
    grid-column-start: 1;
    grid-column-end: 7;
}
.item3{
    /* grid-area: a3; */
    grid-column-end: span 4;
}
.item4{
    /* grid-area: a4 */
    grid-column-start: 4;
    grid-column-end: 7;
}
.item5{
    /* grid-area: a5; */
    grid-row-start: 3;
    grid-column-start: 3;
}
.item6{
    /* grid-area: a6; */
    grid-column-end: span 6;
}